{
  "extends": "@antfu",
  "rules":{
    "@typescript-eslint/comma-dangle": ["error","never"],
    "curly":["error","all"],
    "func-style": ["error", "expression"],
    "antfu/top-level-function":"off"
  },
  "ignorePatterns":["**/*.json"]
}
